* {
    margin: 0;
    padding: 0;
}

body {
    background: black;
}

/* NAVIGATION */
.topnav {
    margin-top: 1%;
    background-color: black;
    overflow: hidden;
    border-style: solid;
    border-width: 0.2rem;
}
  
.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    padding-left: 2%;
    text-decoration: none;
    font-size: 17px;
    font-family: 'Audiowide', sans-serif;
}
  
  .topnav a:hover {
    color: gray;;
}
  
.topnav a.active {
    color: white;
    text-decoration: none;
    border-bottom-style: solid;
    border-bottom-width: 0.2rem;
}
  
.topnav .icon {
    display: none;
}


@media screen and (max-width: 1024px) {
.topnav a:not(:first-child) {display: none;}
.topnav a.icon {
    float: right;
    display: block;
}
}
  
@media screen and (max-width: 1024px) {
.topnav.responsive {position: relative;}
 .topnav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
}
.topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
}
}
/* HEADER */
.header {
    padding: 3%;
    margin: 1%;
    background-image: url('assets/cover.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
    
    font-family: 'Audiowide', cursive;
}

.headline-1 {
    color: white;
    text-align: center;
    font-size: 3rem;
}

.headline-2 {
    color: white;
    text-align: center;
    font-size: 1.5rem;
}

.headline-3 {
    color: white;
    text-align: center;
    font-size: 1.5rem;
}

.headline-3 a {
    text-decoration: none;
    color: white;
}
/* CONTENT */
.content {
    background: black;
    color: white;
    font-family: 'Oswald', sans-serif;
}

hr {
    color: white;
    margin: 2%;
}

.content h1 {
    text-align: center;
    font-size: 2rem;
    padding-bottom: 2.5%;
}

ul {
    text-align: center;
    font-size: 1.4rem;
}

.stats {
    font-size: 1.4rem;
    text-align: center;
}

.information {
    padding-left: 25%;
    padding-right: 25%;
    font-size: 1.4rem;
}

.information p {
    padding-top: 1%;
}

/* SCROLLBAR */
::-webkit-scrollbar {
    width: 0.5rem;
  }
  
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
  }
  
  ::-webkit-scrollbar-thumb {
    background: white;
    border-radius: 0rem;
  }

  /* FOOTER */

  .footer {
      text-align: center;
      font-family: 'Oswald', sans-serif;
      color: white;
  }

  .footer a {
      text-decoration: none;
      color: white;
  }